//
// Grid system
// --------------------------------------------------


.mzen {

    .m-grid-row {
        overflow: hidden;
        margin: 0;
    }
    .m-grid-row-padded {
        margin-left: 0rem;
        margin-right: 0rem;
        
        [class*=m-grid-col-xs-] {
            //margin: 0.125rem;
        }
    }
    .m-grid-col-xs-1,
    .m-grid-col-xs-2,
    .m-grid-col-xs-4,
    .m-grid-col-xs-5,
    .m-grid-col-xs-6,
    .m-grid-col-xs-7,
    .m-grid-col-xs-8,
    .m-grid-col-xs-9,
    .m-grid-col-xs-10,
    .m-grid-col-xs-11,
    .m-grid-col-xs-12 {
        position: relative;
        float: left;
    }
    
    .m-grid-col-xs-12 {
        width: 100%;
    }
    .m-grid-col-xs-11 {
        width: 91.66666667%;
    }
    .m-grid-col-xs-10 {
        width: 83.33333333%;
    }
    .m-grid-col-xs-9 {
        width: 75%;
    }
    .m-grid-col-xs-8 {
        width: 66.66666667%;
    }
    .m-grid-col-xs-7 {
        width: 58.33333333%;
    }
    .m-grid-col-xs-6 {
        width: 50%;
    }
    .m-grid-col-xs-5 {
        width: 41.66666667%;
    }
    .m-grid-col-xs-4 {
        width: 33.33333333%;
    }
    .m-grid-col-xs-3 {
        width: 25%;
    }
    .m-grid-col-xs-2 {
        width: 16.66666667%;
    }
    .m-grid-col-xs-1 {
        width: 8.33333333%;
    }
}

